
/services/frontend/node_modules
/services/gateway/bin
/services/gateway/obj/Release
/services/collector/bin
/services/collector/obj
/services/doc_detection/src/__pycache__
/services/field_detection/src/__pycache__
/services/gateway/obj
/services/gateway/out
/services/text_recog/src/__pycache__
services/frontend/package-lock.json
services/doc_detection/src/models/.DS_Store
services/field_detection/src/models/passport.pt
services/frontend/src/components/.DS_Store
services/field_detection/src/models/.DS_Store
services/text_recog/src/.DS_Store
services/frontend/src/.DS_Store
services/field_detection/src/.DS_Store
services/doc_detection/src/.DS_Store
.DS_Store
services/field_detection/src/models/_passport.pt
/services/field_detection/src/models
/services/doc_detection/src/models
/services/doc_detection/src/models
